{% extends 'blog/base.html' %}
{% block title %}Blog{% endblock %}
{% block content %}
    <div class="container">
    <div class="row text-center">
        {% for blog in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">

                <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ blog.title }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ blog.content }}</h1>
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>{{ blog.preview }}</li>
                                <li>{{ blog.created_at }}</li>
                                <li>{{ blog.published }}</li>
                                <li>{{ blog.number_views }}</li>
                            </ul>
                            <a class="btn btn-primary" href="{% url 'blog:blog_post_detail' blog.pk %}" role="button">Посмотреть</a>
                            <a class="btn btn-primary" href="{% url 'blog:blog_post_update' blog.pk %}" role="button">Редактировать</a>
                            <a class="btn btn-primary" href="{% url 'blog:blog_post_delete' blog.pk %}" role="button">Удалить</a>
                        </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}