{% extends "base.html" %}

{% block content %}
    <h1>Продукты в категории: {{ category.name }}</h1>
    <p>{{ category.description }}</p>

    {% if products %}
        <ul>
            {% for product in products %}
                <li>
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p>Стоимость: {{ product.cost }} руб.</p>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>В этой категории пока нет продуктов.</p>
    {% endif %}
{% endblock %}
